<nav id="Navbar" class="flex items-center justify-between px-5 sm:px-10 md:px-20 lg:px-28 py-10 h-20 fixed top-0 left-0 w-full z-50 bg-primary">
    <img class="h-5 md:h-7 lg:h-10 w-auto" src="../Assets/Logo.png" alt="Logo">
    <ul class="flex justify-between items-center">
        <li class="text-secondary opacity-70 hover:opacity-100 text-lg mr-4 md:mr-7 lg:mr-10 hidden md:block">
            <a href="./index.html">Home</a>
        </li>
        <li class="text-secondary opacity-70 hover:opacity-100 text-sm mr-4 md:mr-7 lg:mr-10 block md:hidden">
            <a href="./index.html"><i class="fa-solid fa-house"></i></a>
        </li>
        <li class="text-secondary opacity-70 hover:opacity-100 text-lg mr-4 md:mr-7 lg:mr-10 hidden md:block">
            <a href="./Ordered.html">Ordered</a>
        </li>
        <li class="text-secondary opacity-70 hover:opacity-100 text-sm mr-4 md:mr-7 lg:mr-10 block md:hidden">
            <a href="./Ordered.html"><i class="fa-solid fa-cart-shopping"></i></a>
        </li>
        <li class="text-secondary opacity-70 hover:opacity-100 text-lg mr-4 md:mr-7 lg:mr-10 hidden md:block">
            <a href="./Refund.html">Refund</a>
        </li>
        <li class="text-secondary opacity-70 hover:opacity-100 text-sm mr-4 md:mr-7 lg:mr-10 block md:hidden">
            <a href="./Refund.html"><i class="fa-solid fa-right-left"></i></a>
        </li>
        <div class="relative cursor-pointer">
            <li id="Account" class="info text-primary border-2  bg-secondary rounded-md border-secondary px-4 py-2 hover:opacity-70 opacity-100 text-lg hidden md:block">
                Kavin Kumar M
            </li>
            <div id="dropdown" class="hidden flex-col shadow-sm shadow-secondary rounded-md absolute w-[200px] top-8 md:top-14 right-0 bg-primary px-2 py-2">
                <div class=" flex flex-col rounded-md p-1 mb-2 md:mb-4 text-secondary ">
                    <p class="opacity-50 text-sm">Signed in as</p>
                    <h1>Kavin Kumar M</h1>
                    <h2 class="opacity-50 text-green-950 text-xs">Prime</h2>
                </div>
                <button class="bg-secondary rounded-md text-primary text-md py-2 border-2 border-secondary hover:bg-primary hover:text-secondary hover:duration-200" >Sign Out</button>
            </div>
            <li  class="info text-secondary cursor-pointer opacity-70 hover:opacity-100 text-sm sm:mr-5 md:mr-7 lg:mr-10 block md:hidden">
                <i class="fa-solid fa-user"></i>
            </li>
        </div>
    </ul>
</nav>